.header {
	text-align: center;
	padding: 60px;
	color: rgb(200, 186, 186);
	font-size: 100px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
}

.main {
	padding-left:200px;
	justify-content: center;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(188, 100, 100);
	display: block;
	outline-color: rgb(22, 22, 22);
	outline-width: 1px;
	outline-style: solid;
}

.sidenav a:hover {
	color: rgb(180, 144, 144)
}


.about_text {
	color:rgb(0, 0, 0);
	font-size: 32px;
	padding-left: 60px;
	padding-top: 30px;
}

body {
	background-color: rgb(220, 215, 204);
}

h2 {
	color: rgb(50, 45, 45);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top:70px;
	margin-bottom:20px;
}

.math_text {
	margin-left: calc(max(50% - 500px, 0px));
	margin-right: calc(max(50% - 500px, 0px));
	text-align: justify;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 50px;
}

.statement {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

#codeblock {
	display: inline-block;
	white-space: pre-wrap;
	padding-left: 30px;
	padding-right: 70px;
	margin-left: 50px;
}

body {
	background-color: rgb(220, 215, 204);
}


/* credit: https://stackoverflow.com/a/15703312/14242442 */
.tooltip {
	display: inline;
	position: relative;
	color: rgb(4, 129, 253);
	z-index: 1;
}

.tooltip .tooltip-text {
	display: none;
	background-color: #bfd0ea;
	border-radius: 3px;
	border-color: #000;
	padding: 5px;
	border-style: solid;
	border-width: thin;
	max-width: 400px;
	width:max-content;
}

.tooltip:hover .tooltip-text {
	display: block;
	position: fixed;
	overflow: hidden;
}

.tootip-text:hover {
	display: block;
	position: fixed;
	overflow: hidden;
}

.statement-block {
	font-style: italic;
	margin-left: 20px;
}

.proof-block {
	margin-left: 20px;
}

.qed-square {
	height: 12px;
	width: 12px;
	border: 1px solid black;
	clear: both;
	float: right;
}

star-node {
	font-style: normal;
}

a {
	color: rgb(16, 149, 206);
	/*font-size: 20px;*/
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block
}
